.mobileOnly{
  display: inline;
}

.desktopOnly{
  display: none;
}

body {
  background-image: url(../images/para0.jpg);
}

.mainNavTop {
  background: none;
  width: 100%;

  .container{
    width: 85px;
    float: left;
  }

  .mainNav {
    position: relative;

    ul a{
      font-size: 30px;
      padding-top: 6px;
      padding-bottom: 6px;
      color: #000;
      padding-left: 5px;
    }

    .navbar-nav {
      background: rgba(255, 255, 255, 1);
      width: 250px;
      padding: 5px 0;
      position: relative;
      left: -16px;
      display: none;
    }
  }
}

.allcontainer {
  background-image: url(../images/port0.jpg);
  box-sizing: border-box;
  overflow: hidden;
}

#top {
  height: 770px;
  overflow: hidden;

  .face{
    margin-top: 20px;
  }

  .titles{
    padding: 0 15px;
  }

  .textHolder {
    text-align: right;
    padding-right: 30px;
    margin-top: 10px;

    .bigF {
      font-size: 35px;
    }

    .midF {
      font-size: 20px;
    }

    .smlF {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  .apptHolder {
    height: 100%;

    p{
      font-size: 12px;
    }

    .apptHeader{
      font-size: 16px;
    }

    .apptNumber{
      font-size: 20px;
    }

    .locHeader{
      font-size: 16px;
    }

  }

}

#about {

  .navMenu{
    text-align: center;
  }

  .textContainer{

    .contentDiv{
      font-size: 16px;
    }
  }
}

//Theory CSS
#theory {

  .contentContainer{

    .theoryContainer{
      font-size: 16px;;

      h4{
        font-size: 35px;
      }
    }
  }

  .itemSelector{
    margin-top: 15px;
  }
}

//Treatments CSS
#treatments {

  .contentContainer {

    .boxy {
      min-height: 100%;
      width: 80%;
    }
  }

  .treatmentsRest{

    a {
      img {
        width: 280px;
      }
    }

  }
}

//Contact CSS
#contact {

  .contactInfo {

    .socialContainer {
      text-align: center;

      a {

        img {
          width: 140px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

//Footer css
#footer {

  .leftDiv, .rightDiv{

  }

  .rightDiv{
    text-align: left;
  }

}

.articles-menu-container{
  display: none;
}

.articles-mobile{
  display: block;
}

.header-top{
  display: none;
}

// All new Styles
.mainNav{
  #menu-main-menu{
    background: #e6e8c7;
    margin: 0;
    overflow-y: scroll;
    height: 400px;

    >li.menu-item{

      >ul.sub-menu{
        display: inline-block;
        padding-left: 10px;
        >li.menu-item{
          display: block;
          list-style-type: none;
          line-height: 18px;
          a{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 16px;
            padding: 0;
            text-transform: none;
          }
        }
      }
    }
  }
}
































