.mobileOnly{
  display: inline;
}

.desktopOnly{
  display: none;
}

body {
  background-image: url(../images/para480.jpg);
}

.mainNavTop {
  background: none;
  width: 100%;

  .container{
    width: 85px;
    float: left;
  }

  .mainNav {
    position: relative;

    ul a{
      font-size: 30px;
      padding-top: 6px;
      padding-bottom: 6px;
      color: #000;
      padding-left: 5px;
    }

    .navbar-nav {
      background: rgba(255, 255, 255, 1);
      width: 250px;
      padding: 5px 0;
      position: relative;
      left: -16px;
      display: none;
    }
  }
}

.allcontainer {
  background-image: url(../images/port480.jpg);
}

#top {
  .textHolder {
    text-align: right;
    padding-right: 30px;
    margin-top: 20px;

    .bigF {
      font-size: 50px;
    }

    .midF {
      font-size: 24px;
    }

    .smlF {
      font-size: 18px;
      margin: 10px 0;
    }
  }

}

#about {

  .navMenu{
    text-align: center;
    li {

      a {
        font-size: 22px;
      }
    }
  }

  .textContainer{

    .contentDiv{
      font-size: 16px;
    }
  }
}

//Theory CSS
#theory {

  .contentContainer{

    .theoryContainer{
      font-size: 15px;;

      h4{
        font-size: 35px;
      }
    }
  }

  .itemSelector{

    li{
      display: block;
      margin-bottom: 10px;

      a{
        img{
          width: 45%;
        }
      }
    }
  }
}

#contact{
  .contactContainers{
    display: block;
    width: 100%;
  }
}

.header-top{
  display: none;
}

// All new Styles
.mainNav{
  #menu-main-menu{
    background: #e6e8c7;
    margin: 0;
    overflow-y: scroll;
    height: 400px;

    >li.menu-item{

      >ul.sub-menu{
        display: inline-block;
        padding-left: 10px;
        >li.menu-item{
          display: block;
          list-style-type: none;
          line-height: 18px;
          a{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 16px;
            padding: 0;
            text-transform: none;
          }
        }
      }
    }
  }
}


.subContainer{
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}























